// sass style variable
$whitesmoke: rgb(245,245,245)

// css style variable
:root
    --ghostwhite: rgb(248,248,255)
    --smoothblack: rgb(47,79,79)
    --lemonchiffon: rgb(255,69,0)
    --forestgreen: rgb(34,139,34)

// dark modda body'e atanan dark class'ı geçerli olacak
.dark
    --ghostwhite: #101010
    --smoothblack: rgb(248,248,255)
    --lemonchiffon: rgb(255,218,185)
    --buttonblack: rgb(47,79,79)