@import 'normalize'
@import 'variables'
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@300;400&display=swap')

body
    background: var(--ghostwhite)
    font-family: 'Source Sans 3', sans-serif
    font-weight: 400
    font-size: 16px
    color: var(--smoothblack)

ul, li
    list-style-type: none
    padding: 0
    margin: 0

a
    text-decoration: none

.stress-it
    color: var(--lemonchiffon)

/* Contact */
.contact
    display: none
    position: fixed
    width: 100%
    height: 100%
    top: 0
    left: 0
    background: var(--ghostwhite)
    transition: all .5s
    .close-button-wrapper
        display: flex
        justify-content: flex-end
        padding: 20px 40px
    .close-button
      cursor: pointer
      img
        max-width: 50px
        filter: drop-shadow(0px 0px 20px red) invert(38%)
    
    .form
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center
        padding: 10px 20px
        .form-element
            width: 100%
            text-align: center
            label
                display: block
                text-align: left
            input, textarea
                border: 1px solid #ccc
                width: 100%
                outline: none
                border-radius: 5px
                padding: 10px 8px
                color: #222
                box-sizing: border-box
            textarea
                resize: none
            button
                border: none
                border-radius: 3px
                padding: 6px 10px
                background: var(--forestgreen)
                color: white
                margin-top: 20px
                width: 100%
        
