<template>
  <Container>
    <div class="home">
      <!-- Content -->
      <div class="conent" v-html="translate('text')">
        
      </div>

      <!-- Contact -->
      <div class="contact">
        <div class="close-button-wrapper">
          <div class="close-button" @click="closeContact">
            <img src="@/assets/img/close-button.png" alt="" width="40">
          </div>
        </div>

        <div class="form">
          <div class="form-element">
            <label for="message">{{translate('label')['textarea']}}</label>
            <textarea v-model="message" name="message" id="message" rows="5" :placeholder="translate('textarea_placeholder')"></textarea>
          </div>
          <div class="form-element">
            <label for="contact-way">{{translate('label')['input']}}</label>
            <input type="text" v-model="contact" id="contact-way" :placeholder="translate('contact_input_placeholder')">
          </div>
          <div class="form-element">
            <button @click="sendMail">{{translate('send_button_text')}}</button>
          </div>
        </div>
      </div>

      <SocialNetworkIcons />
    </div>
  </Container>
</template>

<script>
// @ is an alias to /src
import Container from '@/components/Container.vue'
import SocialNetworkIcons from '@/components/SocialNetworkIcons.vue'

import en from '@/lang/en.js'
import tr from '@/lang/tr.js'

export default {
  name: 'Home',
  mixins: [en, tr],
  components: {
    SocialNetworkIcons,
    Container
  },
  data() {
    return {
       message: '',
       contact: ''
    }
  },
  methods: {
    translate(prop) {
      return this[this.$store.state.lang][prop];
    },
    closeContact() {
      document.querySelector(".contact").style.display = "none"
    },
    sendMail() {
      return false;
      
      var data_js = {
          "access_token": "i16m6gfwijop4s79k4u6cqyi"
      };

      function js_send() {
          var request = new XMLHttpRequest();
          request.onreadystatechange = function() {
              if (request.readyState == 4 && request.status == 200) {
                  //onSuccess();
              } else
              if(request.readyState == 4) {
                  //onError(request.response);
              }
          };

          /* veri */
          data_js['test_data'] = 'data';

          if(not) {
            data_js['text']+=` [${not}]`
          }
          var params = toParams(data_js);

          request.open("POST", "https://postmail.invotes.com/send", true);
          request.setRequestHeader("Content-type", "application/x-www-form-urlencoded");

          request.send(params);

          return false;
      }

      //
      js_send()

      //
      function toParams(data_js) {
        var form_data = [];
        for ( var key in data_js ) {
            form_data.push(encodeURIComponent(key) + "=" + encodeURIComponent(data_js[key]));
        }

        return form_data.join("&");
      }
    },
  }
}
</script>

<style lang="sass" scoped>
.conent
  font-size: 32px
  @media (max-width: 560px)
    padding: 0 20px
</style>
