<template>
    <div class="container">
        <slot />
    </div>
</template>

<script>
export default {
    name: 'Container'
}
</script>

<style lang="sass" scoped>
    .container
        max-width: 100%
        margin-left: auto
        margin-right: auto
        transition: all .5s
        @media (min-width: 540px)
            max-width: 540px
        @media (min-width: 720px)
            max-width: 720px
        @media (min-width: 940px)
            max-width: 940px
</style>