<template>
  <Container>
    <div class="nav">
      <!-- Logo -->
      <div class="logo">
        <img src="@/assets/img/icon.png" alt="">
      </div>

      <!-- Responsive Menu Icon -->
      <div class="hamburger" @click="openMenu">
        <img src="@/assets/img/hamburger.png" alt="">
      </div>
      <!-- -->
      <div class="menu">
        <ul>
          <li class="close-button" @click="closeMenu"><img src="@/assets/img/close-button.png" alt=""></li>
          <li v-for="(i, key) in translate('menu')" :key="key" v-on:click="menuEvent($event, i, key)">{{i}}</li>
        </ul>
      </div>
    </div>
  </Container>
</template>

<script>


import Container from '@/components/Container.vue'

import en from '@/lang/en.js'
import tr from '@/lang/tr.js'

export default {
  name: 'Nav',
  mixins: [en, tr],
  components: {
    Container
  },
  props: {
    msg: String
  },
  data() {
    return {
      //lang: "tr"
    }
  },
  created(){
    // Mobilde Javascript ile .menu display none olan menuye düzeltme (css media geri düzeltemiyor)
    function checkMediaQuery() {
      if (window.innerWidth > 940) {
        document.querySelector(".menu").style.display = "block"
      }
      if (window.innerWidth < 940) {
        document.querySelector(".menu").style.display = "none"
      }
    }
    // Add a listener for when the window resizes
    window.addEventListener('resize', checkMediaQuery);
  },
  methods: {
    //...mapMutations(['changeLang']),
    menuEvent(a, text, key) {
      // Close Menu
      if (window.innerWidth < 940) {
        document.querySelector(".menu").style.display = "none"
      }

      // Change The Theme
      if(key === 0) {
        document.body.classList.toggle('dark')  

        if (document.body.classList.contains('dark')) {
          this.$store.commit('changeTheme', 'dark')
          
          this.tr.menu[0] = 'AÇIK TEMA'
          this.en.menu[0] = 'LIGHT THEME'
        } 
        if (!document.body.classList.contains('dark')) {
          this.$store.commit('changeTheme', 'white')

          this.tr.menu[0] = 'KOYU TEMA'
          this.en.menu[0] = 'DARK THEME'
        }       
      }

      // Change The Language
      if(key === 1) {
        if(this.$store.state.lang == 'tr') {
          this.$store.commit('changeLang', 'en')
          
        } else {
          this.$store.commit('changeLang', 'tr')
        }
      }

      // Contact
      if(key === 2) {
        document.querySelector(".contact").style.display = "block"
      }
    },
    translate(prop) {
      return this[this.$store.state.lang][prop];
    },
    openMenu() {
      document.querySelector(".menu").style.display = "block"
    },
    closeMenu() {
      document.querySelector(".menu").style.display = "none"
    }
  },
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="sass">
.nav
  background: var(--ghostwhite)
  display: flex
  justify-content: space-between
  align-items: center
  height: 40px
  padding: 0 5px
  padding-top: 20px
  
  .logo
    max-width: 40px
    cursor: pointer
    padding: 10px
    img
      width: 100%
  
  .hamburger
    max-width: 40px
    cursor: pointer
    padding: 10px
    @media (min-width: 940px)
      display: none
    img
      width: 100%

.menu
  display: none
  text-align: center
  align-items: center
  position: fixed
  padding: 50px 0
  width: 100%
  height: 100%
  top: 0
  left: 0
  background: var(--ghostwhite)
  transition: all .5s
  @media (min-width: 940px) // 940px üstünde
    position: static
    display: block
    width: auto
    height: auto
    background: inherit
  ul
    li
      cursor: pointer
      color: var(--smoothblack)
      background: transparent !important
      text-align: center
      padding: 5px 0
    .close-button 
      display: none
      img
        max-width: 50px
        filter: drop-shadow(0px 0px 20px red) invert(38%)
      @media (max-width: 940px)
        display: block
      
    li + li // kendisinden sonra li elementi olan li'lere margin-right ver
      margin-left: 50px
      @media (max-width: 940px)
        margin: 0
    :focus, :active
      background: transparent !important
    @media (min-width: 940px)
      display: flex
    @media (max-width: 940px)
      font-size: 3rem
</style>
