<template>
    <div class="container">
        <div class="social-media-links">
        <a href="https://www.youtube.com/c/muhammetakkusweb" target="_blank">
            <img src="@/assets/img/social-media/youtube.png" alt="">
        </a>
        <a href="https://twitter.com/mehmetakkuson" target="_blank">
            <img src="@/assets/img/social-media/twitter.png" alt="">
        </a>
        <a href="https://medium.com/@mail.mehmetak" target="_blank">
            <img src="@/assets/img/social-media/medium.png" alt="">
        </a>
        <a href="https://www.linkedin.com/in/muhammetakkuson/" target="_blank">
            <img src="@/assets/img/social-media/linkedin.png" alt="">
        </a>
    </div>
    </div>
</template>
<script>

export default {
    name: 'SocialNetworkIcons',
    components: {
        
    }
}
</script>

<style lang="sass" scoped>
    .social-media-links
        display: flex
        align-items: center
        justify-content: space-around
    a
        border: none
        max-width: 100px
        @media (max-width: 640px)
            max-width: 60px
        img
            max-width: 100%
</style>