<template>
  <Nav msg=""/>
  
  <router-view/>
</template>
<script>
import Nav from '@/components/Nav.vue'

export default {
 components: {
    Nav
  },
  beforeCreate(){
    if (this.$store.state.theme == 'dark') {
      document.body.classList.add('dark')
    }
  }
}
</script>

<style lang="sass">
@import "@/assets/css/main.sass"

.mobile-menu
  display: block
  position: fixed
  width: 100%
  height: 100%
  top: 0
  left: 0
  background: red
  @media (min-width: 940px)
    display: none

</style>
